@import "../../global.scss";

.chats {
	flex: 1;
	background-color: lightgray;
	height: 100vh;
	min-width: 300px;
	overflow-y: scroll;
	z-index: 3;

	.container {
		background-color: white;
		height: max-content;
		border-radius: 10px;
		color: #333;
		display: flex;
		flex-direction: column;
		gap: 10px;

		.top {
			position: sticky;
			top: 0;
			left: 0;
			width: 100%;
			display: flex;
			flex-direction: column;
			z-index: 3;
			background-color: #000080;
			padding: 10px;

			.appLogo {
				display: flex;
				align-items: center;
				justify-content: space-between;
				color: white;
				padding: 10px;

				.notification {
					position: relative;
					cursor: pointer;
					display: none;

					@include responsive833 {
						display: flex;
					}

					.nCount {
						position: absolute;
						top: -6px;
						left: 10px;
						background-color: crimson;
						color: white;
						display: flex;
						align-items: center;
						justify-content: center;
						text-align: center;
						border-radius: 50%;
						height: 14px;
						width: 14px;
						padding: 6px;
						font-size: 12px;
					}
				}

				.right {
					position: relative;
					display: flex;
					align-items: center;
					gap: 10px;
					display: none;

					@include responsive833 {
						display: flex;
					}

					.imgDiv {
						position: relative;

						img {
							width: 34px;
							height: 34px;
							border-radius: 50%;
							object-fit: cover;
							border: 2px solid crimson;
						}

						.online {
							width: 10px;
							height: 10px;
							background-color: green;
							border-radius: 50%;
							position: absolute;
							top: 20px;
							left: 26px;
						}
					}

					.profile {
						display: flex;
						align-items: center;
						justify-content: center;
						flex-direction: column;
						background-color: teal;
						padding: 10px;
						position: absolute;
						top: 58px;
						right: -10px;
						gap: 16px;
						border-radius: 6px;
						width: 200px;

						.viewBtn {
							width: 100%;
							text-align: center;
							background-color: #0c1d27;
							color: white;
							cursor: pointer;
							border: none;
							padding: 8px;
							border-radius: 8px;
							transition: all 0.5s ease-in-out;

							&:hover {
								transform: scale(1.01);
							}
						}

						.logoutBtn {
							border: none;
							width: 100%;
							background-color: crimson;
							color: white;
							padding: 6px;
							cursor: pointer;
							padding: 8px;
							border-radius: 8px;
							transition: all 0.5s ease-in-out;

							&:hover {
								transform: scale(1.01);
							}
						}
					}

					.nContainer {
						display: flex;
						align-items: center;
						justify-content: center;
						position: absolute;
						top: 58px;
						right: -10px;
						background-color: teal;
						width: max-content;
						height: max-content;
						border-radius: 8px;
						padding: 6px;

						.nWrapper {
							width: 100%;
							height: 100%;

							.list {
								display: flex;
								flex-direction: column;
								gap: 10px;

								.listItem {
									background-color: white;
									color: #333;
									padding: 6px;
									border-radius: 8px;
									font-weight: 500;
									font-size: 14px;
									cursor: pointer;
								}
							}

							.clearBtn {
								width: 100%;
								margin-top: 10px;
								border: none;
								cursor: pointer;
								background-color: crimson;
								color: white;
								padding: 6px;
								font-weight: 500;
								border-radius: 8px;
								transition: all 0.5s ease-in-out;

								&:hover {
									transform: scale(1.02);
								}
							}
						}
					}
				}
			}

			.userSearch {
				width: 100%;
				display: flex;
				align-items: center;
				gap: 8px;
				// height: 60px;
				font-weight: bold;
				color: black;
				cursor: pointer;

				.inpuContainer {
					width: 100%;
					padding: 6px;
					display: flex;
					align-items: center;
					border-radius: 16px;
					background-color: gray;
					// cursor: pointer;

					input {
						width: 100%;
						outline: none;
						border: none;
						background-color: inherit;

						&::placeholder {
							font-weight: bold;
							color: black;
						}
					}
				}
			}
		}

		.middle {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-weight: 500;
			background-color: gray;
			padding: 10px;
			border-radius: 8px;
			margin-top: 10px;

			.title {
				font-size: 18px;
				font-weight: 600;
			}

			.btn {
				display: flex;
				align-items: center;
				gap: 4px;
				background-color: #061924d0;
				color: white;
				padding: 8px;
				border-radius: 8px;
				cursor: pointer;
			}
		}

		.bottom {
			display: flex;
			flex-direction: column;
			gap: 10px;
			padding: 10px;
		}

		.noChats {
			text-align: center;
			font-size: 24px;
		}
	}
}
